/* button {
  border-radius: 6px;
} */

.field-label {
  display: block;
  font-weight: 500;
  margin-bottom: 4px;
}

nz-form-item {
  margin-bottom: 14px;
}

.ant-input,
.ant-select {
  width: 80%;
}