<h2>MENU</h2>

<ul>
  <li><a routerLink="/page1"><h2>No 1</h2></a></li>
  <li><a routerLink="/page2"><h2>No 2</h2></a></li>
  <li><a routerLink="/page3"><h2>No 3</h2></a></li>
  <li><a routerLink="/page4"><h2>No 4</h2></a></li>
  <li><a routerLink="/page5"><h2>No 5</h2></a></li>
  <li><a routerLink="/page6"><h2>No 6</h2></a></li>
  <li><a routerLink="/page7"><h2>No 7</h2></a></li>
  <li><a routerLink="/page8"><h2>No 8</h2></a></li>
  <li><a routerLink="/page9"><h2>No 9</h2></a></li>
  <li><a routerLink="/page10"><h2>No 10</h2></a></li>
</ul>